.App {
  text-align: center;
  margin: 40px auto;
  max-width: 860px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  padding: 10px;

}

.card {
  aspect-ratio: 1;
  cursor: pointer;
  position: relative;
}

.card img {
  width: 100%;
  border: solid 3px whitesmoke;
  border-radius: 10px;
}

.card p {
  padding: 0;
  margin: 0;
}

.board {
  width: 100%;
  height: 100%;
}

.cover{
  background-color: darkslategray;
}


.card .cardImage {
  position: absolute;
  transform: rotateY(90deg);
  background-color: darkcyan;
  transition: all ease-in 0.2s;
}

.flipped .cardImage {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .cover {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .cover {
  transform: rotateY(90deg);
  transition-delay: 0s;
}

body {
  background-color: #75AB79;
}
